body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    zoom: 70%;
}
h1 {
    margin: 0;
}
body > header {
    color: white;
    background-color: dodgerblue;
    padding: 2%;
}
header > nav > ul {
    list-style: none;
    margin-bottom: 0.5%;
}
header > nav > ul > li > a {
    color: white;
}
aside > form > p {
    margin: 0;
}
aside > section > img {
    width: 15%;
    transform: scaleX(-1);
}
main {
    margin: auto;
    width: 80%;
}
textarea {
    width: 100%;
    resize: none;
}
main > form > p {
    margin: 0;
    text-align: right;
}
main > section > img {
    width: 8%;
}
footer {
    color: white;
    background-color: dodgerblue;
    padding: 12px;
}
footer > h4 {
    margin: 0;
    text-align: center;
    font-weight: normal;
}